<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupID</key>
	<string>group.org.nightscout.5QE6TMMEH2.trio.trio-app-group</string>
	<key>NSExtensionFileProviderDocumentGroup</key>
	<string>group.org.nightscout.5QE6TMMEH2.trio.trio-app-group</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
